<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net35" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net35" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net40" version="1.0.3" targetFramework="net40" developmentDependency="true" />
</packages>